:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #ff871633 0deg,
    #ff560833 55deg,
    #ff845433 120deg,
    #f054544f 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f5f5;
}

body p {
  font-size: 23px;
}

.item2 {
  flex: 1; /* para que todos los elementos tengan el mismo ancho */
  padding: 10px 0px 0 0;
  text-align: justify;
  font-family: "Roboto Condensed", sans-serif;
  margin: auto;
}

body h2 {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.d3 {
  max-width: 20%;
  border-radius: 10%;
  box-shadow: 2px 2px 5px 0px;
}

.d3:hover {
  scale: 1.1;
  transition: all 0.5s;
}

.container {
  display: flex;
  flex-wrap: wrap; /* opcional, para que los elementos se ajusten automáticamente si no caben en una sola fila */
}

.starcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
}

.smcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* opcional, para que los elementos se ajusten automáticamente si no caben en una sola fila */
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: unset;
  transition: all 0.5s ease-out; /* Agregamos una transición para suavizar el cambio de altura */
  margin: 5px;
}

.card-container li {
  margin: 0 0 0 20px;
}

.fliped {
  transition: all 0.5s ease-out; /* Agregamos una transición para suavizar el cambio de altura */
}

.fliped p {
  display: none;
}

.fliped li {
  display: none;
}

.skills-container {
  display: flex;
  flex-wrap: wrap; /* opcional, para que los elementos se ajusten automáticamente si no caben en una sola fila */
  justify-content: center;
}

.skills-container p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: larger;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 0 1rem 0;
}

.aptitud-container {
  text-align: center;
  font-size: 23px;
}

.aptitud-container p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: larger;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 0 0.5rem 0;
}

.item {
  flex: 1; /* para que todos los elementos tengan el mismo ancho */
  padding-left: 5px;
}

.left {
  flex-wrap: nowrap;
  width: 50%;
}

.right {
  width: 50%;
}

.imagen-valor {
  width: 90%;
}

.titulo {
  margin-top: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.item_image {
  max-width: 100%;
  height: 50vh;
}

.slider-container {
  width: 100%;
  height: 50vh;
  margin: unset;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: auto;
}

.linea-gradiente {
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 5px;
  background: rgb(245, 245, 245);
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(240, 84, 84, 1) 52%,
    rgba(245, 245, 245, 1) 100%
  );
}

.foter-conteiner {
  background-color: #30475e;
  justify-content: center;
  padding: 7px 0 3px 0;
}

.prcontainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #ffffffd8;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  height: 168.5px;
}

.carta-desc {
  width: 65%;
  height: 30%;
  background-color: #30475e;
  position: absolute;
  bottom: 0;
  left: 35%;
  opacity: 0.5;
  border-radius: 0 0 10px 0;
  transition: all 0.5s ease-out; /* Agregamos una transición para suavizar el cambio de altura */
  text-align: center;
  color: #f5f5f500;
}

.carta-desc p {
  display: none;
}

.carta-desc a {
  font-size: smaller;
}
.centrado {
  display: flex; /* convierte al contenedor en un contenedor flex */
  align-items: center; /* alinea los elementos hijos verticalmente en el centro */
  justify-content: center; /* alinea los elementos hijos horizontalmente en el centro */
  /* otras propiedades del contenedor */
  width: 100%;
  height: 50%;
  padding: 5px 5px 0 5px;
}

.imagen2 {
  width: 50px;
  height: 50px;
}

.prcontainer:hover > .carta-desc {
  height: 100%;
  color: #f5f5f5;
  background-color: #f05454;
  opacity: 1;
  border-radius: 0 10px 10px 0;
}

.prcontainer:hover > .carta-desc p {
  display: block;
  font-size: larger;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (max-width: 700px) {
  .slider-container {
    width: 100%;
    height: 25vh;
    margin: unset;
    overflow: hidden;
  }

  .item_image {
    max-width: 100%;
    height: 45vh;
  }

  .carta-desc {
    width: 100%;
    height: 30%;
    left: 0;
  }

  .centrado {
    margin-top: 10px;
  }

  .d3 {
    max-width: 80%;
    border-radius: 10%;
    box-shadow: 2px 2px 5px 0px;
    margin: 0px 0px 0px 10px;
  }

  .projectposition {
    width: 50%;
  }

  .projectposition img {
    max-height: 94px;
  }

  .titleproject {
    width: 50%;
  }

  .contenedor-p {
    display: flex;
    align-items: center; /* alinea los elementos hijos verticalmente en el centro */
  }

  .prcontainer {
    width: 308px;
  }
}
